@import "macchiato.css";

* {
    /* font-family: "JetBrains Mono", Roboto, Helvetica, Arial, sans-serif; */
    font-family: Helvetica;
    font-size: 16px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.6);
    /* border-radius: 13px; */
    transition-property: background-color;
    transition-duration: 0.5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

/* you can set a style on hover for any module like this */
pulseaudio:hover {
    background-color: @surface2;
}

#custom-separator {
    padding: 0 10px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: white;
}
#workspaces button.active {
    background: rgba(206, 206, 206, 0.2);
    padding: 0 15px;
    border-radius: 5px;
}
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: @rosewater;
    color: @base;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727d;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio {
    padding: 0 10px;
    color: white;
}

/* #pulseaudio {
    color: @maroon;
}

#network {
    color: @yellow;
}

#temperature {
    color: @sky;
}

#battery {
    color: @green;
}

#custom-exit {
    color: @custom-red;
}

#clock {
    color: @flamingo;
}

#cpu {
    color: @peach;
}

#memory {
    color: @green;
}

#window {
    color: @text;
} */

.modules-right,
.modules-left,
.modules-center {
    background-color: transparent;
    border-radius: 8px;
}
.modules-right {
    padding: 0 20px;
}

.modules-left {
    padding: 0 20px;
}

.modules-center {
    padding: 0 10px;
}
#battery.charging,
#battery.plugged {
    color: @sapphire;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#pulseaudio.muted {
    color: rgb(235, 119, 119);
}

@keyframes blink-update {
    to {
        background-color: dodgerblue;
    }
}

#custom-pacman {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#custom-pacman.pending-updates {
    animation-name: blink-update;
    animation-duration: 3s;
}
